.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, 284px);
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 352px);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
