.lead {
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 56px;
    margin-left: 148px;
    margin-right: 148px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }
}
