.page__cover {
    margin-top: 92px;
  }
  
  @media screen and (min-width: 1280px) {
    .page__cover {
      margin: 92px 48px 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .page__cover {
      margin-top: 89px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .page__cover {
      margin-top: 66px;
    }
  }
  